In [1]:
import pyspark

In [2]:
pyspark.__file__

'/home/abyssde232024/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
print(SparkSession.getActiveSession())

None

In [5]:
spark_sql = SparkSession.builder \
    .master("local[*]") \
    .appName('dezoomcamp2024') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/04/05 16:07:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
df_green = spark_sql.read.parquet('data/processed/green/*/*', header=True)

In [9]:
df_green.show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-26 12:45:44|  2020-01-26 12:45:45|                 N|         5|          25|         264|              1|          .00|      40.05|    0|      0|      8.07|           0|     null|                  0.3|       48.42|           1|        2|                   0|
|    null| 2020-01-17 15:59:00|  2020-01-17 16:44:00|              null|      null|          71|          55|           null|         8.87|      26.86| 2.75|    0.5|         0|           0|     null|                    0|       30.11|        null|     null|                null|
|       2| 2020-01-17 17:56:45|  2020-01-17 18:19:27|                 N|         1|          41|         244|              1|         3.48|       16.5|    1|    0.5|      3.66|           0|     null|                  0.3|       21.96|           1|        1|                   0|
|       2| 2020-01-20 20:39:15|  2020-01-20 20:42:44|                 N|         1|          43|         151|              1|          .88|          5|  0.5|    0.5|         1|           0|     null|                  0.3|         7.3|           1|        1|                   0|
|       2| 2020-01-16 22:04:55|  2020-01-16 22:17:36|                 N|         1|           7|         129|              1|         1.91|         10|  0.5|    0.5|      2.26|           0|     null|                  0.3|       13.56|           1|        1|                   0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [12]:
df_green.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

In [10]:
df_yellow = spark_sql.read.parquet('data/processed/yellow/*/*', header=True)

In [11]:
df_yellow.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2020-01-06 09:18:38|  2020-01-06 09:33:56|              1|         3.03|         1|                 N|         263|         233|           1|       12.0|  0.0|    0.5|       1.5|         0.0|                  0.3|        16.8|                 2.5|
|       2| 2020-01-08 18:55:19|  2020-01-08 18:58:38|              1|          0.4|         1|                 N|         234|         107|           1|        4.0|  1.0|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|
|       2| 2020-01-16 12:11:53|  2020-01-16 12:42:44|              1|         2.46|         1|                 N|          68|         229|           1|       19.0|  0.0|    0.5|      4.46|         0.0|                  0.3|       26.76|                 2.5|
|       2| 2020-01-11 01:55:59|  2020-01-11 02:03:21|              6|          1.9|         1|                 N|         230|          90|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|
|       2| 2020-01-01 21:31:48|  2020-01-01 21:36:01|              1|         0.77|         1|                 N|         238|         239|           1|        5.0|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

In [13]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [16]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [17]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

set instruction is to check intersection of values between two set

In [14]:
set(df_green.columns) - set(df_yellow.columns)  # {'ehail_fee', 'trip_type', 'total_amount'}

{'ehail_fee', 'lpep_dropoff_datetime', 'lpep_pickup_datetime', 'trip_type'}

In [15]:
set(df_yellow.columns) - set(df_green.columns)  # {'store_and_fwd_flag', 'rate_code', 'fare_amount'}

{'tpep_dropoff_datetime', 'tpep_pickup_datetime'}

Rename dataframe column names to essentially having same name in both df

In [24]:
df_yellow = df_yellow \
            .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime') \
            .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')

In [25]:
df_green = df_green \
            .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime') \
            .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')

In [26]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [27]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

Recreate the columns in the yellow taxi data so that it has the same columns as the green taxi data. Fill in the missing columns with null values.

In [30]:
#  create a common column list which is present in both green and yellow dataframes and order them same as green dataframe
common_columns = []
yellow_columns = df_yellow.columns
for column in df_green.columns:
    if column in yellow_columns:
        common_columns.append(column)

In [32]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [34]:
df_green.select(common_columns).show(5)

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
|       2|2020-01-26 12:45:44|2020-01-26 12:45:45|                 N|         5|          25|         264|              1|          .00|      40.05|    0|      0|      8.07|           0|                  0.3|       48.42|           1|                   0|
|    null|2020-01-17 15:59:00|2020-01-17 16:44:00|              null|      null|          71|          55|           null|         8.87|      26.86| 2.75|    0.5|         0|           0|                    0|       30.11|        null|                null|
|       2|2020-01-17 17:56:45|2020-01-17 18:19:27|                 N|         1|          41|         244|              1|         3.48|       16.5|    1|    0.5|      3.66|           0|                  0.3|       21.96|           1|                   0|
|       2|2020-01-20 20:39:15|2020-01-20 20:42:44|                 N|         1|          43|         151|              1|          .88|          5|  0.5|    0.5|         1|           0|                  0.3|         7.3|           1|                   0|
|       2|2020-01-16 22:04:55|2020-01-16 22:17:36|                 N|         1|           7|         129|              1|         1.91|         10|  0.5|    0.5|      2.26|           0|                  0.3|       13.56|           1|                   0|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+
only showing top 5 rows

In [36]:
# add service type column to green dataframe and yellow dataframe
from pyspark.sql import functions as F
df_green = df_green.withColumn('service_type', F.lit('green'))

In [37]:
df_yellow = df_yellow.withColumn('service_type', F.lit('yellow'))

In [42]:
df_yellow.show(5)
df_yellow_select = df_yellow.select(common_columns + ['service_type'])

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|service_type|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
|       2|2020-01-06 09:18:38|2020-01-06 09:33:56|              1|         3.03|         1|                 N|         263|         233|           1|       12.0|  0.0|    0.5|       1.5|         0.0|                  0.3|        16.8|                 2.5|      yellow|
|       2|2020-01-08 18:55:19|2020-01-08 18:58:38|              1|          0.4|         1|                 N|         234|         107|           1|        4.0|  1.0|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|      yellow|
|       2|2020-01-16 12:11:53|2020-01-16 12:42:44|              1|         2.46|         1|                 N|          68|         229|           1|       19.0|  0.0|    0.5|      4.46|         0.0|                  0.3|       26.76|                 2.5|      yellow|
|       2|2020-01-11 01:55:59|2020-01-11 02:03:21|              6|          1.9|         1|                 N|         230|          90|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|      yellow|
|       2|2020-01-01 21:31:48|2020-01-01 21:36:01|              1|         0.77|         1|                 N|         238|         239|           1|        5.0|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 2.5|      yellow|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
only showing top 5 rows

In [43]:
df_green.show(5)
df_green_select = df_green.select(common_columns + ['service_type'])

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------+
|       2|2020-01-26 12:45:44|2020-01-26 12:45:45|                 N|         5|          25|         264|              1|          .00|      40.05|    0|      0|      8.07|           0|     null|                  0.3|       48.42|           1|        2|                   0|       green|
|    null|2020-01-17 15:59:00|2020-01-17 16:44:00|              null|      null|          71|          55|           null|         8.87|      26.86| 2.75|    0.5|         0|           0|     null|                    0|       30.11|        null|     null|                null|       green|
|       2|2020-01-17 17:56:45|2020-01-17 18:19:27|                 N|         1|          41|         244|              1|         3.48|       16.5|    1|    0.5|      3.66|           0|     null|                  0.3|       21.96|           1|        1|                   0|       green|
|       2|2020-01-20 20:39:15|2020-01-20 20:42:44|                 N|         1|          43|         151|              1|          .88|          5|  0.5|    0.5|         1|           0|     null|                  0.3|         7.3|           1|        1|                   0|       green|
|       2|2020-01-16 22:04:55|2020-01-16 22:17:36|                 N|         1|           7|         129|              1|         1.91|         10|  0.5|    0.5|      2.26|           0|     null|                  0.3|       13.56|           1|        1|                   0|       green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+------------+
only showing top 5 rows

In [45]:
# union both green and yellow dataframes
df_trip_data = df_green_select.unionAll(df_yellow_select)

In [46]:
# run group by on the dataframe to get the count of each service type
df_trip_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [47]:
# create temporary table from the dataframe
df_trip_data.registerTempTable('trip_data')

/home/abyssde232024/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [48]:
# use spark sql to get the count of each service type
spark_sql.sql('select service_type, count(1) as count from trip_data group by service_type').show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [53]:
df_result = spark_sql.sql('''
select 
    -- Reveneue grouping 
    PULocationID as revenue_zone,
    date_trunc("month", "pickup_datetime") as revenue_month, 
    service_type, 

    -- Revenue calculation 
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,

    -- Additional calculations
    avg(passenger_count) as avg_monthly_passenger_count,
    avg(trip_distance) as avg_monthly_trip_distance

from trip_data
group by 1,2,3
''')

In [54]:
df_result.printSchema()

root
 |-- revenue_zone: integer (nullable = true)
 |-- revenue_month: timestamp (nullable = true)
 |-- service_type: string (nullable = false)
 |-- revenue_monthly_fare: double (nullable = true)
 |-- revenue_monthly_extra: double (nullable = true)
 |-- revenue_monthly_mta_tax: double (nullable = true)
 |-- revenue_monthly_tip_amount: double (nullable = true)
 |-- revenue_monthly_tolls_amount: double (nullable = true)
 |-- revenue_monthly_improvement_surcharge: double (nullable = true)
 |-- revenue_monthly_total_amount: double (nullable = true)
 |-- avg_monthly_passenger_count: double (nullable = true)
 |-- avg_monthly_trip_distance: double (nullable = true)

In [57]:
df_result.show(5)

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         254|         null|       green|   278150.7099999999|   11320.519999999999|                  854.5|         9569.900000000001|           13415.77999999989|                   2786.0999999999367|           316342.1100000009|          1.138095238095238|       249.57145962406813|
|          38|         null|       green|    82767.6100000003|               2537.6|                  237.5|        2433.5299999999997|          3530.9100000000017|                    664.2000000000029|           92221.80000000012|         1.1342925659472423|       151.58323426573423|
|         229|         null|       green|            13658.47|                689.3|                   23.0|                    388.43|           789.1000000000003|                   131.99999999999994|                    15699.05|         1.2222222222222223|         8.25965986394558|
|         188|         null|       green|   430873.5499999911|   21162.420000000002|                 1931.0|                  19095.49|           6813.589999999965|                    5714.399999999499|          486764.00000000105|         1.1596080910240203|        82.27654449456634|
|         232|         null|       green|   40609.98000000003|   1913.9500000000003|                  64.55|                    1314.6|          1395.4100000000008|                   403.49999999999983|                    45729.54|          1.069767441860465|        261.1684855233854|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 5 rows

In [56]:
df_result.repartition(4).write.parquet('data/report/revenue', mode='overwrite')

In [58]:
df_result.write.parquet('data/report/revenue', mode='overwrite')

In [47]:
# Home work question 4
df_hw = spark_sql.read.parquet('fhvhv/2019/10/', header=True)

In [48]:
df_hw.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|
|              B01233|2019-10-08 00:09:01|2019-10-08 00:11:14|         264|          81|   null|                B01233|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|
|              B01285|2019-10-03 21:56:10|2019-10-03 22:22:18|         264|         235|   null|                B01285|
|              B00706|2019-10-05 02:48:13|2019-10-05 02:56:36|         115|         245|   null|                B00706|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [49]:
from pyspark.sql import functions as fn
df_hw = df_hw \
.withColumn("tripDuration", fn.round(((df_hw.dropOff_datetime.cast("long") - df_hw.pickup_datetime.cast("long")) / 3600), 2))

In [50]:
df_hw.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|tripDuration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|        0.17|
|              B01233|2019-10-08 00:09:01|2019-10-08 00:11:14|         264|          81|   null|                B01233|        0.04|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|         0.6|
|              B01285|2019-10-03 21:56:10|2019-10-03 22:22:18|         264|         235|   null|                B01285|        0.44|
|              B00706|2019-10-05 02:48:13|2019-10-05 02:56:36|         115|         245|   null|                B00706|        0.14|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
only showing top 5 rows

In [51]:
# create temporary table from the dataframe
df_hw.registerTempTable('fhvhv_trip_data')

/home/abyssde232024/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [52]:
spark_sql.sql('''
              select * from fhvhv_trip_data limit 5
              ''').show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|tripDuration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|        0.17|
|              B01233|2019-10-08 00:09:01|2019-10-08 00:11:14|         264|          81|   null|                B01233|        0.04|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|         0.6|
|              B01285|2019-10-03 21:56:10|2019-10-03 22:22:18|         264|         235|   null|                B01285|        0.44|
|              B00706|2019-10-05 02:48:13|2019-10-05 02:56:36|         115|         245|   null|                B00706|        0.14|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+

In [53]:
spark_sql.sql('''
              select * 
                from fhvhv_trip_data
                where tripDuration = (select max(tripDuration) from fhvhv_trip_data)
              ''').show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|tripDuration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+
|              B02832|2019-10-11 18:00:00|2091-10-11 18:30:00|         264|         264|   null|                B02832|    631152.5|
|              B02832|2019-10-28 09:00:00|2091-10-28 09:30:00|         264|         264|   null|                B02832|    631152.5|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+

In [21]:
!wget 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

--2024-04-05 16:32:12--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240405%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240405T163212Z&X-Amz-Expires=300&X-Amz-Signature=1ee48d6772f3c6b5988e6bf4969be0e26eaa6c7e3dce9a926fec8036160f7c60&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-04-05 16:32:12--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240405%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240405T163212Z&X-Amz-Expires=300&X-Amz-Signature=1ee48d6772f3c6b5988e6bf4969be0e26eaa6c7e3dce9a926fec8036160f7c60&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-04-05 16:32:12 (55.4 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [54]:
import pandas as pd
df_lookup = pd.read_csv('taxi_zone_lookup.csv')

In [55]:
df_lookup.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [56]:
df_lookup = spark_sql.read \
            .option("header", "true") \
            .csv('taxi_zone_lookup.csv')

In [57]:
df_lookup.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [58]:
df_hw.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)
 |-- tripDuration: double (nullable = true)

In [59]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, LongType, DoubleType, IntegerType

In [60]:
lookup_schema = StructType([
    StructField("LocationID", IntegerType(), nullable=True),
    StructField("Borough", StringType(), nullable=True),
    StructField("Zone", StringType(), nullable=True),
    StructField("service_zone", StringType(), nullable=True)
])

In [61]:
df_lookup = spark_sql.read \
            .option("header", "true") \
            .schema(lookup_schema) \
            .csv('taxi_zone_lookup.csv')

In [62]:
from pyspark.sql.functions import col

df_hw_q6 = df_hw \
    .join(df_lookup, col('PULocationID') == col('LocationID'), 'left') \
    .drop('LocationID') \

In [63]:
df_hw_q6.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+-------------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|tripDuration|      Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+-------------+--------------------+------------+
|              B02784|2019-10-01 09:55:38|2019-10-01 10:05:43|          89|          85|   null|                  null|        0.17|     Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|              B01233|2019-10-08 00:09:01|2019-10-08 00:11:14|         264|          81|   null|                B01233|        0.04|      Unknown|                  NV|         N/A|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|         0.6|      Unknown|                  NV|         N/A|
|              B01285|2019-10-03 21:56:10|2019-10-03 22:22:18|         264|         235|   null|                B01285|        0.44|      Unknown|                  NV|         N/A|
|              B00706|2019-10-05 02:48:13|2019-10-05 02:56:36|         115|         245|   null|                B00706|        0.14|Staten Island| Grymes Hill/Clifton|   Boro Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------+-------------+--------------------+------------+
only showing top 5 rows

In [64]:
df_hw_q6.registerTempTable('fhvhv__final_trip_data')

/home/abyssde232024/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [66]:
# Homework question number 6
spark_sql.sql('''
              select count(1) as cnt,zone
              from fhvhv__final_trip_data
              group by zone
              order by cnt asc ''').show()

+---+--------------------+
|cnt|                zone|
+---+--------------------+
|  1|         Jamaica Bay|
|  2|Governor's Island...|
|  5| Green-Wood Cemetery|
|  8|       Broad Channel|
| 14|     Highbridge Park|
| 15|        Battery Park|
| 23|Saint Michaels Ce...|
| 25|Breezy Point/Fort...|
| 26|Marine Park/Floyd...|
| 29|        Astoria Park|
| 39|    Inwood Hill Park|
| 47|       Willets Point|
| 53|Forest Park/Highl...|
| 57|  Brooklyn Navy Yard|
| 62|        Crotona Park|
| 77|        Country Club|
| 89|     Freshkills Park|
| 98|       Prospect Park|
|105|     Columbia Street|
|110|  South Williamsburg|
+---+--------------------+
only showing top 20 rows

In [67]:
spark_sql.stop()